:root {
  --first-color: rgb(85, 10, 45);
  --second-color: rgb(255, 185, 5);
}

body {
  margin: 0;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 1.8em;
  box-sizing: border-box;
}

header,
main,
footer {
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: bold;
}

a {
  color: var(--second-color);
  font-weight: 900;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.fab {
  border: 1px solid white;
  border-radius: 25%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: white;
}