@import url("https://fonts.googleapis.com/css?family=Raleway");

.header {
  padding: 2em;
  text-align: center;
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.header__section {
  margin: 0 auto;
  padding: 1em;
  max-width: 640px;
}

/* .header__img {
  border-radius: 50%;
  max-width: 150px;
} */

.main {
  max-width: 1140px;
}

.section {
  margin: 1em;
  padding: 1em;
}

.section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.section__article {
  padding: 0 1em;
}

.section__article--title {
  color: var(--first-color);
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.section__article--description {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.section__course,
.section__skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section__article--description p {
  padding-left: 1em;
}

.section__skills--column {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.section__skills--column-list,
.section__article--job-description {
  list-style-type: none;
}

.section__skills--column-list > li:before {
  content: "►";
  padding-right: 0.5em;
  color: var(--first-color);
}

.section__article--school,
.section__article--job-title {
  text-transform: capitalize;
}

.section__article--school span,
.section__article--job-title span {
  color: #889499;
  text-decoration: underline;
}

.section__article--job-description > li:before {
  content: "✔";
  padding-right: 0.5em;
  color: var(--first-color);
}

.footer {
  padding: 0.5em 1.5em;
  background: var(--first-color);
  color: white;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .section__course {
    display: block;
  }

  .section__article--title,
  .section__article--description {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .section__skills {
    display: block;
  }

  .section__skills--column {
    max-width: 100%;
  }

  .footer {
    text-align: center;
  }
}
