@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

br {
  margin: 20em 0;
  padding: 20em 0;
}
strong {
  font-weight: 600;
}
/* hero-img styles */
.hero-img {
  padding: 1em;
  font-size: 18px;
  line-height: 1.8em;
  text-align: center;
  background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.hero-img__header,
.hero-img__nav {
  margin: 0 auto;
  padding: 1em;
  max-width: 640px;
}

.main {
  max-width: 1140px;
}

/* sections styles */
.section {
  margin: 1em;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}

.section--last {
  border: none;
}

.section__article {
  padding: 0 1em;
}

.article__title {
  color: var(--first-color);
  flex: 0 0 33.3%;
  max-width: 33%;
}

.article__description {
  flex: 0 0 calc(66.6% - 1em);
  max-width: 66.6%;
  padding-left: 1em;
}

.section__course,
.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__column {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills__column-list,
.article__job-description {
  list-style-type: none;
}

.skills__column-list > li:before {
  content: '►';
  padding-right: 0.5em;
  color: var(--first-color);
}

.article__job-description > li:before {
  content: '✔';
  padding-right: 0.5em;
  color: var(--first-color);
}

.article__school-years,
.article__job-years {
  color: #889499;
  font-weight: 600;
  text-decoration: underline;
}

.footer {
  padding: 0.5em 1.5em;
  background: var(--first-color);
  color: white;
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .section__course {
    display: block;
  }

  .article__title,
  .article__description {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }

  .hero-img {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
  }

  .skills__column-list,
  .article__job-description {
    padding-left: 0.8em;
  }

  .section__skills {
    display: block;
  }

  .skills__column {
    max-width: 100%;
  }

  .footer {
    text-align: center;
  }
}
